* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 40px;
  padding: 3px;
  background-color: #011627;
  color: #fff;
}

header svg {
  font-size: 40px;
}

.sidenav {
  width: 240px;
  height: 100vh;
  background-color: #011627;
  position: absolute;
  right: -100%;
  padding: 0 30px;
  transition: all 0.3s;
}

.sidenav.active {
  right: 0;
}

ul {
  padding: 0;
}

ul li {
  list-style-type: none;
  margin: 10px 0;
}

ul li a {
  display: block;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 6px;
}

ul li a:hover,
ul li a.active {
  background: #172b4d;
}